Options +indexes
HeaderName /tmp/header.html
IndexOptions Charset=UTF-8 FancyIndexing SuppressHTMLPreamble SuppressIcon SuppressRules SuppressDescription xhtml SuppressColumnSorting
IndexIgnore header.html
